*{
    margin:0;
    padding:0;
}



body{
    background-color: grey;
    height: 100vh;
    user-select: none;
}

.draw {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height:100%;
}

.square{
    width:35px;
    height:35px;
    background-color: blue;
}

.change{
    background-color: red;
}

.flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}